* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  padding: 15px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  font-weight: lighter;
  background-color: inherit;
  background-color: transparent;
  border: 0.2px gray solid;
  color: gray;
}
button:hover {
  transition: all 200ms;
  color: white;
  background-color: gray;
}
.container {
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
